<header class="admin-header">
    <div class="admin-header-content">
        <h1>UCC Engineering Admin</h1>
        <div class="admin-user">
            <span>Welcome, <%= user.username %></span>
            <a href="/admin/logout" class="btn btn-small">Logout</a>
        </div>
    </div>
</header>
